/* Styles */
.rectangle1{
  fill: #CCCCCC;
}

a svg:hover .rectangle1{
  fill: #111;
}

a svg .rectangle1{
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.calendarTable table, th, td{
  padding: -5px;
}

.dayHover{
  fill: #111;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

#hoverDetails{
  position: fixed;
  border-radius: 5px;
  padding: 4px;
  width: 210px;
  height: 27px;
  border: solid 1px #ccc;
  background-color: #202020;
  z-index: 999;
  display: none;
}

#hoverDetails p{
  color: #fff;
  font-size: 0.8em;
}

.calendar{
  border: solid 1px #ccc;
}

.month{
  font-size: 0.8em;
}
